{% extends 'admin/adminbase.html.twig' %}

{% block body %}
    <h1 class="mb-3">
        {{ title }}
    </h1>
    {% if postId is defined %}
    <p>
        <a href="{{ path('post_show',{'postId': postId}) }}">View post</a>
    </p>
    {% endif %}
    <div class="container mb-5">
        <div class="row no-gutters">
            <div class="col">
                {{ form(form) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col  justify-content-center">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

        </div>
    </div>
    {% if comments is defined and comments %}
        <table class="table table-fullwidth  table-hover ">
            <tbody>
            <tr>
                <th>#</th>

                <th>Comment</th>
                <th>Created at</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>

            {% for comment in comments %}
                <tr id="comment-{{ comment.id }}" class="{% if not comment.getIsPublished %}table-secondary{% endif %}">
                    <td>{{ comment.id }}</td>

                    <td>{{ comment.content }}</td>
                    <td>{{ comment.getCreatedAt | date("d.m.Y H:i") }}</td>
                    <td>{% if comment.getIsPublished %}
                            Published
                        {% else %}
                            Hidden
                        {% endif %}
                    </td>
                    <td>{% if comment.getIsPublished %}
                            <a href="{{ path('admin_comment_hide', {'commentId': comment.id}) }}">Hide</a>
                        {% else %}
                            <a href="{{ path('admin_comment_publish', {'commentId': comment.id}) }}">Publish</a>
                        {% endif %}
                        <a href="{{ path('admin_comment_delete', {'commentId': comment.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning">
            No have any comments yet.
        </div>
    {% endif %}
{% endblock %}
